* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
}

.body {
  background-color: rgb(63, 63, 70);
}

.contenedor-de-camionetas__cajas_2:active {
  background-image: url(../document/camioneta\ 2.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.caja-autos {
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_3:active {
  background-image: url(../document/camioneta\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_4:active {
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_5:active {
  background-image: url(../document/camioneta\ 5.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_1:active {
  background-image: url(../document/auto\ 1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_2:active {
  background-image: url(../document/auto\ 2.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_3:active {
  background-image: url(../document/auto\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_4:active {
  background-image: url(../document/auto\ 4.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_5:active {
  background-image: url(../document/auto\ 5.webp);
}

.ver-mas {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-bottom: solid 1px white;
}

.ver-mas:hover {
  background-color: rgb(255, 255, 255);
  transition-duration: 400ms;
}

.ver-mas__a {
  text-decoration: none;
  font-family: cursive;
  font-size: 30px;
}

.contenedor-de-vehiculos__border {
  border: 1px black solid;
  border-radius: 10px;
}

.imagen-principal__linea-fina {
  width: 99%;
  background: linear-gradient(to left, rgb(186, 241, 183), rgb(83, 165, 78), rgb(186, 241, 183));
  height: 8px;
}

@media (min-width: 900px) {
  .contenedor-de-camionetas__cajas_2:hover {
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
  }
}
.cajas__listas {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 50px;
  color: whitesmoke;
  background-color: rgb(36, 36, 37);
  padding-top: 5px;
  text-decoration: none;
  border-left: 1px solid whitesmoke;
  font-size: 11px;
}

.contenedor-de-camionetas__cajas_3:hover {
  background-image: url(../document/camioneta\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_4:hover {
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_5:hover {
  background-image: url(../document/camioneta\ 5.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_1:hover {
  background-image: url(../document/auto\ 1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_2:hover {
  background-image: url(../document/auto\ 2.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_3:hover {
  background-image: url(../document/auto\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_4:hover {
  background-image: url(../document/auto\ 4.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-de-autos__cajas_5:hover {
  background-image: url(../document/auto\ 5.webp);
  border: solid 1px whitesmoke;
  border-radius: 10px;
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

@media (min-width: 1200px) {
  .cajas__listas {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 66px;
    color: whitesmoke;
    background-color: rgb(36, 36, 37);
    padding-top: 5px;
    text-decoration: none;
    border-left: 1px solid whitesmoke;
    font-size: 12px;
  }
  .ver-mas__a {
    font-size: 60px;
  }
}
.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  display: flex;
  background-color: rgb(36, 36, 37);
  justify-content: center;
}

.h1-index {
  max-height: 50px;
  padding-top: 10px;
  text-shadow: 3px 3px 4px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(221, 255, 179);
}

.cajas__listas {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 45px;
  color: whitesmoke;
  background-color: rgb(36, 36, 37);
  padding: 5px;
  text-decoration: none;
  margin-right: 0px;
  border-left: 1px solid whitesmoke;
  font-size: 10px;
}

.cajas__listas:hover {
  background-color: rgb(39, 39, 39);
  color: aquamarine;
  transition-duration: 900ms;
  translate: 0px -2px;
}

.cajas__listas:active {
  background-color: rgb(123, 123, 123);
  transition-duration: 200ms;
}

.pie-pagina {
  width: 100%;
  background: linear-gradient(to right, rgb(37, 37, 40), rgb(135, 135, 137));
  margin-top: 100px;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure {
  width: 70px;
  height: 50px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-top: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: whitesmoke;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aquamarine;
}

.pie-pagina .grupo-2 {
  background: linear-gradient(to right, rgb(37, 37, 40), rgb(135, 135, 137));
  padding: 15px 10px;
  text-align: center;
  color: aliceblue;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 45px 0px;
    background-color: rgb(63, 63, 70);
  }
}
.imagen-duster {
  width: 99%;
  height: 300px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.imagen-principal__linea {
  width: 99%;
  background-color: rgb(13, 255, 0);
  height: 40pt;
}

.imagen-principal {
  width: 99%;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-left: 90px;
  margin-bottom: 0px;
}

.imagen-principal__letras {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 10px white;
  text-shadow: 2px 2px 8px white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
}

.imagen-principal__duster {
  margin-top: 140px;
  color: black;
  text-shadow: 2px 2px 10px white;
  text-shadow: 2px 2px 8px white;
  font-size: 1rem;
}

.imagen-principal__precio {
  color: black;
  text-shadow: 2px 2px 10px white;
  text-shadow: 2px 2px 8px white;
  font-size: 1rem;
}

@media (min-width: 500px) {
  .imagen-duster {
    height: 440px;
  }
}
@media (min-width: 720px) {
  .imagen-duster {
    width: 99%;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  .imagen-principal__linea {
    width: 99%;
    background-color: rgb(13, 255, 0);
    height: 40pt;
  }
  .imagen-principal__letras {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 23px;
  }
  .imagen-principal__duster {
    margin-top: 150px;
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 2rem;
  }
  .imagen-principal__precio {
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 25px;
  }
  .h1-index {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(221, 255, 179);
    text-shadow: 3px 3px 4px;
    margin-right: 75%;
  }
  .in {
    display: flex;
    justify-content: center;
  }
  .primera-fila {
    margin-top: 130px;
  }
}
@media (min-width: 1200px) {
  .imagen-duster {
    width: 100%;
    height: 600px;
  }
  .h1-index {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(221, 255, 179);
    text-shadow: 3px 3px 4px;
    margin-right: 180%;
  }
  .imagen-principal__linea {
    width: 99%;
    background-color: rgb(13, 255, 0);
    height: 40pt;
  }
  .imagen-principal__duster {
    margin-top: 400px;
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 3rem;
  }
  .imagen-principal__precio {
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 2rem;
  }
  .imagen-principal__letras {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.contenedor-de-camionetas__h4 {
  color: rgb(255, 253, 145);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.contenedor-de-camionetas__h3 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 10px white;
  text-shadow: 2px 2px 8px white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.h2-camionetas {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-shadow: 2px 2px 15px rgb(41, 41, 41);
  font-family: "Bungee Spice", cursiva;
}

.contenedor-de-autos {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-template-rows: 80px 290px 290px 290px 290px 290px;
}

.contenedor-de-camionetas {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-template-rows: 80px 290px 290px 290px 290px;
  gap: 20px;
}

.contenedor-de-camionetas__cajas_0 {
  padding-top: 30px;
  background: linear-gradient(to top, rgb(37, 37, 40), rgb(135, 135, 137));
}

.contenedor-de-camionetas__cajas_1 {
  background-image: url(../../document/camioneta\ 1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  box-shadow: 20px 20px 8px black;
}

.contenedor-de-camionetas__cajas_2 {
  background-image: url(../document/camioneta\ 2.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-camionetas__cajas_3 {
  background-image: url(../document/camioneta\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-camionetas__cajas_4 {
  background-image: url(../document/camioneta\ 4.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-camionetas__cajas_5 {
  background-image: url(../document/camioneta\ 5.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_0 {
  background-color: rgb(238, 119, 119);
  border: 1px white solid;
  padding-top: 30px;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_1 {
  background-image: url(../document/auto\ 1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_2 {
  background-image: url(../document/auto\ 2.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_3 {
  background-image: url(../document/auto\ 3.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_4 {
  background-image: url(../document/auto\ 4.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.contenedor-de-autos__cajas_5 {
  background-image: url(../document/auto\ 5.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

@media (min-width: 720px) {
  .contenedor-de-autos {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    grid-template-rows: 120px 400px 400px 400px;
    gap: 20px;
  }
  .contenedor-de-camionetas__h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
  }
  .contenedor-de-camionetas__h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
  }
  .h2-camionetas {
    text-align: center;
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 15px whitesmoke;
  }
  .contenedor-de-camionetas__cajas_0 {
    grid-column: span 2;
    padding-top: 30px;
  }
  .contenedor-de-camionetas {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    grid-template-rows: 120px 400px 400px;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-de-camionetas {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    grid-template-rows: 120px 400px 400px;
  }
}
.div-contacto {
  background-image: url(../document/Rutas-en-moto-por-Europa.jpg);
  height: 300PX;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 125%;
  margin: 0px;
  padding: 25px;
  color: black;
  text-decoration: double;
  font-size: 0.5rem;
}

.seccion-contacto {
  justify-content: center;
}

.h2-sombreado {
  margin-top: 80px;
  text-shadow: 1px 1px 0px whitesmoke, -1px -1px 0px whitesmoke;
  font-size: 0.7rem;
}

.div-contacto h4 {
  font-size: 0.7rem;
}

.div-contacto h3 {
  font-size: 0.7rem;
}

@media (min-width: 500px) {
  .div-contacto {
    background-size: 100%;
  }
}
@media (min-width: 720px) {
  .div-contacto {
    background-image: url(../document/Rutas-en-moto-por-Europa.jpg);
    height: 600PX;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 125%;
    margin: 0px;
    padding: 25px;
    color: black;
    text-decoration: double;
  }
  .h2-sombreado {
    margin-top: 80px;
    text-shadow: 1px 1px 0px whitesmoke, -1px -1px 0px whitesmoke;
    font-size: 2.5rem;
  }
  .div-contacto h4 {
    font-size: 2.1rem;
  }
  .div-contacto h3 {
    font-size: 2.1rem;
  }
}
@media (min-width: 1200px) {
  .div-contacto {
    background-size: 100%;
  }
}
.imagen-motos {
  width: 99%;
  height: 300px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.contenedor-motos__h2 {
  font-size: 20px;
  color: yellow;
  text-shadow: 2px 2px 14px rgb(255, 0, 0);
  border: 1px red solid;
  border-radius: 10px;
}

.imagenes-motos:hover {
  transform: scale(1.04, 1.04);
  transition-duration: 700ms;
}

.contenedor-motos {
  padding: 60px;
}

@media (min-width: 500px) {
  .imagen-motos {
    height: 440px;
  }
}
@media (min-width: 720px) {
  .contenedor-motos__h2 {
    font-size: 50px;
  }
  .imagen-motos {
    width: 99%;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .imagen-motos {
    width: 99%;
    height: 600px;
  }
}

/*# sourceMappingURL=style-2.css.map */
