.imagen-principal__linea {
    width: 99%;
    background-color: rgb(13, 255, 0);
    height: 40pt;
}

.imagen-principal {
    width: 99%;
    height: 300px;
    background-image: url(../../document/duster.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 90px;
    margin-bottom: 0px;
}

.imagen-principal__letras {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

.imagen-principal__duster {
    margin-top: 140px;
    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 1rem;
}

.imagen-principal__precio {

    color: black;
    text-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 8px white;
    font-size: 1rem;
}

@media (min-width: 720px) {


    .imagen-principal__linea {
        width: 99%;
        background-color: rgb(13, 255, 0);
        height: 40pt;
    }

    .imagen-principal {
        width: 99%;
        height: 450px;
        background-image: url(../document/duster.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-left: 90px;
    }

    .imagen-principal__letras {
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 23px;
    }

    .imagen-principal__duster {
        margin-top: 150px;
        color: black;
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-size: 2rem;
    }

    .imagen-principal__precio {

        color: black;
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-size: 25px;
    }

    .h1-index {

        padding-left: 10px;
        padding-right: 10px;
        color: rgb(221, 255, 179);
        text-shadow: 3px 3px 4px;
        margin-right: 75%;
    }

    .in {
        display: flex;
        justify-content: center;
    }
    .h2-sombreado{
        margin-top: 80px;
        text-shadow: 1px 1px 0px whitesmoke, -1px -1px 0px whitesmoke ;
    }
    .primera-fila{
        margin-top: 130px;
    }

}
@media (min-width: 1200px ){
    .h1-index{
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        color:rgb(221, 255, 179);
        text-shadow: 3px 3px 4px;
    margin-right: 180%;
    }
    .imagen-principal__linea{
        width: 99%;
        background-color: rgb(13, 255, 0);
        height: 40pt;
    }
    .imagen-principal{
        width: 99%;
        height: 800px;
        background-image: url(../../document/duster.webp);
        background-size: 100%;
        background-repeat: none;
    }
    .imagen-principal__duster{
        margin-top: 400px;
        color: black;
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-size: 3rem;
    }
    .imagen-principal__precio{
       
        color: black;
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-size: 2rem;
    }
    .imagen-principal__letras{
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 10px white;
        text-shadow: 2px 2px 8px white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    }