.footer-background{
    background-color: blue;
}
footer h3{
    text-shadow: 2px 1px 3px white;
    text-shadow: -2px -1px 3px white;
}
.border-img{
    border-radius: 30px;
}
.border-img-2{
    border-radius: 5px;
}
.footer{
    margin-left: 30px;
    color: burlywood;
 
}