.contenedor-de-camionetas__cajas_2:hover {
    background-image: url(../document/camioneta\ 2.webp);
    @extend .caja-autos;
}

.caja-autos {
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_3:hover {
    background-image: url(../document/camioneta\ 3.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_4:hover {
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-camionetas__cajas_5:hover {
    background-image: url(../document/camioneta\ 5.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-autos__cajas_1:hover {
    background-image: url(../document/auto\ 1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-autos__cajas_2:hover {
    background-image: url(../document/auto\ 2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-autos__cajas_3:hover {
    background-image: url(../document/auto\ 3.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-autos__cajas_4:hover {
    background-image: url(../document/auto\ 4.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    transform: scale(1.04, 1.04);
    transition-duration: 700ms;
}

.contenedor-de-autos__cajas_5:hover {
    background-image: url(../document/auto\ 5.webp);

}

.ver-mas {
    width: 100%;
    height: 30px;
    background-color: rgb(20, 217, 50);
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}

.ver-mas:hover {
    background-color: rgb(87, 225, 108);
    transition-duration: 400ms;
}

.ver-mas__a {
    text-decoration: none;
    font-family: cursive;

}

.contenedor-de-vehiculos__border {
    border: 1px black solid;
    border-radius: 10px;
}

.imagen-principal__linea-fina {
    width: 99%;
    background-color: rgb(13, 255, 0);
    height: 8px;
    border-top: 3px rgb(156, 230, 152) solid;
}

@media (min-width: 720px) {
    .cajas__listas {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        height: 40px;
        width: 50px;
        color: rgb(0, 57, 170);
        background-color: rgb(36, 36, 37);
        padding-top: 5px;
        text-decoration: none;

        border-left: 1px solid whitesmoke;
        font-size: 11px;
    }
}

@media (min-width: 1200px ){

    .cajas__listas {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        height: 40px;
        width: 66px;
        color: rgb(0, 57, 170);
        background-color: rgb(36, 36, 37);
        padding-top: 5px;
        text-decoration: none;
      
        border-left: 1px solid whitesmoke;
        font-size: 12px;
    }
    }